{% extends "admin/base.html" %} 
{% block title%}Summmay{% endblock %}
{% block content %}
    <h1 class="mt-4">Summary</h1>

    <div class="card mb-4">
        <div class="card-body">
            <p class="mb-0">
                select info and download
            </p>
        </div>
    </div>
    <select class="form-control dwn" style="width: 50%; float: left; margin-right: 10px;" name="field">
        <option disabled selected>Select Info</option>
        <option value="vehicles">Vehicles</option>
        <option value="fuel">Fuel Consumption Data</option>
        <option value="repairs">Repairs Info</option>
        <option value="users">Users Info</option>
    </select>
   
    <a href="/admin/report" id="aLink" style="margin-bottom: 10px; color: white;" class="btn btn-secondary" target="_blank">Preview</a>
    <a href="/admin/report" id="bLink" style="margin-bottom: 10px;" class="btn btn-success">Download</a>

    <script>
        var select = document.querySelector('.dwn');
        var aLink = document.querySelector('#aLink');
        var link = document.querySelector('#bLink');
        select.addEventListener('change', function (e) {
            var option = select.value;
            link.href = "report/download/" +option;
            aLink.href = "report/get/" +option;
        });
        aLink.addEventListener('click', (e) =>{
            e.preventDefault();
            window.open(aLink.href);  
        });
    </script>
    

{% endblock%}